alembic==1.13.1
annotated-types==0.6.0
anyio==4.3.0
bidict==0.23.1
build==1.2.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
dill==0.3.8
distro==1.9.0
docutils==0.21.2
fastapi==0.110.2
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jeepney==0.8.0
Jinja2==3.1.3
keyring==25.2.0
Mako==1.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.17
packaging==24.0
pipdeptree==2.16.2
pkginfo==1.10.0
platformdirs==4.2.1
psutil==5.9.8
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.17.2
pyproject_hooks==1.0.0
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-multipart==0.0.9
python-socketio==5.11.2
readme_renderer==43.0
redis==5.0.4
reflex==0.4.9
reflex-hosting-cli==0.1.13
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
ruff==0.4.2
SecretStorage==3.3.3
setuptools==69.5.1
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.29
sqlmodel==0.0.16
starlette==0.37.2
starlette-admin==0.13.2
tabulate==0.9.0
tomlkit==0.12.4
twine==5.0.0
typer==0.12.3
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.24.0.post1
watchdog==4.0.0
watchfiles==0.21.0
websockets==12.0
wheel==0.43.0
wrapt==1.16.0
wsproto==1.2.0
zipp==3.18.1
